.App{
  min-height: 100vh;
  background-image: linear-gradient(to top, #96fbc4 0%, #f9f586 100%);
}


.search-form {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-input{
  width: 50%;
  border: 0;
  padding: 10px;
   
}

.search-button{
  background-color: #96fbc4;
  border: none;
  padding: 10px 20px;
  color: #fff;
}

.recipes{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}